<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359183048360-auqupb83kqn5p49mh61d32874ctas4ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359183048360-auqupb83kqn5p49mh61d32874ctas4ts</string>
	<key>API_KEY</key>
	<string>AIzaSyC-WwcToTC5LzEyDfxN_nZQmXMMVKaFIXg</string>
	<key>GCM_SENDER_ID</key>
	<string>359183048360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Adnan.-1-ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapptest-f0080</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptest-f0080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359183048360:ios:d39bd7e6032a2d18aaec9d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapptest-f0080.firebaseio.com</string>
</dict>
</plist>